.plane {
  width: 500px;
  height: 500px;
  padding: 0;
  margin: 0;
}

.row {
  clear: both;
  height: 10px;
  padding: 0;
  margin: 0;
}


.cell {
  height:10px;
  width: 10px;
  display: inline-block;
}

.food {
  background-color: #FFCE00;
}

.field {
  background-color: #FFCE00;
}

.snake {
  background-color: #007849;
}
